<!-- <html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>

    <body>
        <%-include('_header'); %> -->
        <link rel="stylesheet" href="/css/users.css">

        <div id="box">
            <h1>Codeial /Profile Page</h1>
        </div>

        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100px">

        <!-- User profile is getting updated here  -->
        <% if(user.id==profile_user.id){ %>             
            <!-- If user match then show form -->
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
                <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>

                <input type="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" value="Update">
            </form>

        <% }else{ %>
            <!-- else show only profile info -->
            <div id="box">
                <p id="name"><%= profile_user.name %></p>
                <p><%= profile_user.email %></p>
                <a class="toggle-button" href="/friendship/addFriend/?id=<%= profile_user.id %>">
                    <button type="submit">
                        <% if(locals.userSelected){ %>
                            Remove Friend    
                        <% }else{ %>
                            Add Friend
                         <%}%>   
                    </button>
                </a>
            </div>
        <% } %>


        <script src="/js/toggle-button.js"></script>
        <!-- <%-include('_footer'); %>
    </body>
</html> -->
